name: go

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:

  test:
    name: Test
    runs-on: ubuntu-latest

    # Service containers to run with `container-job`
    services:
      # Label used to access the service container
      postgres:
        # Docker Hub image
        image: postgres:18
        # Provide the password for postgres
        env:
          POSTGRES_USER: root
          POSTGRES_DB: simple_bank
          POSTGRES_PASSWORD: ${{ secrets.DATABASE_PASSWORD }}
        # Set health checks to wait until postgres has started
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5

    steps:
      - name: Check out code into the Go module directory
        uses: actions/checkout@v4

      - name: Set up Go 1.25.5
        uses: actions/setup-go@v4
        with:
          go-version: '1.25.5'

      - name: Create env file
        run: |
            touch .env
            echo DATABASE_PASSWORD=${{ secrets.DATABASE_PASSWORD }} >> .env
            cat .env

      - name: Make migrations
        run: |
            make migrate-up

      - name: Test
        run: make test
